# This file defines the code owners for this repository.
# Code owners are automatically requested for review when someone opens a pull request that modifies code that they own.
# For more information about code owners, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global ownership - all files in the repository
* @BinkyLabs/openapi-overlays-dotnet-write